[Unit]
Description=Shutdown qBittorrent before umount
DefaultDependencies=no
Before=shutdown.target reboot.target halt.target

[Service]
User=USER
Group=USER
ExecStart=/usr/bin/killall -w qbittorrent-nox
Type=oneshot

[Install]
WantedBy=multi-user.target
