[Unit]
Description=Repertory mount siadrive Sia folder

[Service]
User=USER
Group=USER
ExecStart=/home/USER/repertory_service.sh
ExecStop=umount /home/USER/siadrive
Type=oneshot
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
